In [1]:
import pandas as pd

In [38]:
cv_valid_fpath = "../../asr/processed-cv-valid-dev.csv"
hotword_list = ['be careful', 'destroy' 'stranger']

In [39]:
valid_df = pd.read_csv(cv_valid_fpath)
valid_df.head(3)

,filename,text,up_votes,down_votes,age,gender,accent,duration,group_type,generated_text
0,../data/raw/common_voice/cv-valid-dev/cv-valid...,and in that way the months passed,1,0,NaN,NaN,NaN,NaN,cv-valid-dev,AND IN THAT WAY THE MONTHS PASSED
1,../data/raw/common_voice/cv-valid-dev/cv-valid...,about time one of you lunkheads said it,1,0,NaN,NaN,NaN,NaN,cv-valid-dev,ABRAT TIME ONE OF EULANCATS SAID IT
2,../data/raw/common_voice/cv-valid-dev/cv-valid...,the burning fire had been extinguished,3,1,NaN,NaN,NaN,NaN,cv-valid-dev,THE BONIPOYRE HAD BEEN EXTINGUISHED

In [40]:
valid_df[(valid_df['text'].str.contains("be careful")) | (valid_df['text'].str.contains("destroy")) | (valid_df['text'].str.contains("stranger"))]

,filename,text,up_votes,down_votes,age,gender,accent,duration,group_type,generated_text
901,../data/raw/common_voice/cv-valid-dev/cv-valid...,be careful with your prognostications said the...,1,0,NaN,NaN,NaN,NaN,cv-valid-dev,BE CAREFUL THAT YOU PROGNOSTICATIONS SAID THE ...
905,../data/raw/common_voice/cv-valid-dev/cv-valid...,the stranger was speaking of things that very ...,2,1,NaN,NaN,NaN,NaN,cv-valid-dev,THE STRANGER WAS SPEAKING OF THINGS THAT PRETT...